body{
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  background: linear-gradient(to bottom, lightblue, lightgrey)
}
.image {
  display:  inline-block;
  text-align:  center;
}
.image img {
  width:  40%;
}
.esp { 
  font-size: 50px;
  text-align: center;
  font-style:  italic;
}
.guess label{
  display:  block;
  text-align: center;
  margin:  15 auto 20 auto;
}
.whoopione, .whoopitwo{
  text-align: center;
  margin: 5px;
}

.buttons {
  text-align: center;
}
.bottombuttonone, .bottombuttontwo{
  width: 140px;
  margin:  5px;
}
.remainingguesses{
  text-align: center;
}
